@import 'mixin';


* {
  box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: $minWidth;
}
body {
	line-height: 1;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-size: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
	background-color: inherit;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}


//-webkit-overflow-scrolling: touch;
/*
&::-webkit-scrollbar {
	display: none;
}
*/


body { 
	font-family: 'Urbanist', sans-serif;
	font-size: 16px;
	color: #0F0F0F;
	line-height: normal;
	font-weight: 400;
	margin: 0;
	background-color: #f7f7f7;
	
	&::-webkit-scrollbar {
		background: transparent;
		width: 10px;
	}
	
	&::-webkit-scrollbar-track {
		background: #f5f5f5;
	}
	
	&::-webkit-scrollbar-thumb {
		background-color: #979797;
		border-radius: 100px;
	}
	&.no-scroll { 
		/* overflow: hidden;
		padding-right: 10px;

		@media(max-width: 767px) { 
			overflow: auto;
			padding-right: 0;
		} */
	}
}

._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 24px;
}

.container { 
	max-width: 100%;
	padding: 0 64px;
	@media(max-width: 1650px) { 
		padding: 0 16px;
	}
}


.site {
	position: relative;
	overflow: hidden;
}