@import "mixin";

.header { 
  background-color: #202020;
  border-bottom: 1px solid #6D6D6D4D;
  font-family: 'Urbanist', sans-serif;
  padding: 16px 0;
  &__container { 

  }

  &__body { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
  }

  &__col-01 {

  }

  &__col-02 {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }

  &__logo { 
    font-size: 40px;
    color: #fff;
  }

  &__contacts { 
    display: flex;
    align-items: center;
    column-gap: 40px;

    @media(max-width: 767px) { 
      display: none;
    }
  }

  &__link { 
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: #fff;
    transition: all 0.3s ease 0s;

    svg { 
      path { 
        transition: all 0.3s ease 0s;
      }
    }

    &:hover {
      color: #35544c;

      svg { 
        path { 
          stroke: #35544c;
        }
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    column-gap: 8px;

    @media(max-width: 767px) { 
      display: none;
    }
  }

  &__item { 

    a { 
      display: flex;

      svg { 
        path { 
          transition: all 0.3s ease 0s;
        }
      }

      &:hover { 
        svg { 
          path { 
            stroke: #35544c;
          }
        }
      }
    }
  }

  &__link-last {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 8px;
    padding: 10px 16px;
    background-color: transparent;
    border: 1px solid #6D6D6D4D;
    color: #fff;
    font-weight: 500;
    transition: all 0.3s ease 0s;

    &:hover { 
      background-color: #35544c;
    }

    @media(max-width: 767px) { 
      display: none;
    }
  }

  &__menu-btn {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #6D6D6D4D;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;

    &:hover { 
      background-color: #35544c;
    }
  }

  &__menu { 
    display: none;
  }

  &__nav { 

  }

  &__list { 

  }

  &__item-menu { 

    &._submenu { 

    }
  }

  &__subitem { 

    a { 

    }
  }

  &__contacts-menu { 

  }

  &__contacts-item { 

  }

  &__social-menu { 

  }

  &__social-item {

  }
}