@import "mixin";

.work-hero {
    @include adaptiv-value("padding-top", 200, 100, 1);
    font-family: "Urbanist", sans-serif;
    position: relative;
    background-image: url("/images/how-we-work/how-we-work-back-01.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include adaptiv-value("padding-bottom", 120, 104, 1);
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(14, 14, 14, 0.8) 0%, rgba(14, 14, 14, 0.6) 100%);
    }

    @media (max-width: 767px) {
        background-image: url("/images/how-we-work/how-we-work-back-02.webp");
        height: 100vh;
        padding-top: 0;
    }

    &__container {
        height: 100%;
    }

    &__body {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        position: relative;
        z-index: 30;

        @media (max-width: 767px) {
            padding-top: 100px;
        }
    }

    &__title {
        @include adaptiv-value("font-size", 80, 32, 1);
        line-height: normal;
        font-weight: 600;
        color: #fff;
    }

    &__subtitle {
        margin: 24px 0 0 0;
        @include adaptiv-value("font-size", 24, 16, 1);
        line-height: normal;
        color: #fff;
        font-weight: 400;

        @media (max-width: 767px) {
            max-width: 60%;
        }
    }
}

.work-text {
    @include adaptiv-value("padding-top", 120, 104, 1);
    @include adaptiv-value("padding-bottom", 120, 104, 1);
    font-family: "Urbanist", sans-serif;
    &__container {
    }

    &__body {
    }

    &__text {
        @include adaptiv-value("font-size", 36, 24, 1);
        line-height: normal;
        font-weight: 600;
        margin: 0;
       
        .sentence { 
            justify-content: flex-start;
        }
    }
}

.work-main {
    font-family: "Urbanist", sans-serif;
    &__container {
        &._container {
            @media (max-width: 767px) {
                padding: 0;
            }
        }
    }

    &__body {
    }

    &__row {
        display: flex;
        background-color: #fff;
        &:not(:last-child) { 
            @include adaptiv-value('margin-bottom', 120, 0, 1);

            @media(max-width: 767px) { 
                margin-bottom: 0;
            }
        }

        @media(max-width: 767px) { 
            flex-direction: column;
        }
    }

    &__col-01 {
        width: 50%;
        display: flex;
        flex-direction: column;
        @include adaptiv-value('padding-top', 80, 0, 1);
        @include adaptiv-value('padding-right', 80, 0, 1);
        @include adaptiv-value('padding-bottom', 80, 0, 1);
        @include adaptiv-value('padding-left', 80, 0, 1);
        @media (max-width: 767px) {
            width: 100%;
            padding: 104px 24px;
        }
    }

    &__col-02 {
        width: 50%;
        
        @media (max-width: 767px) {
            width: 100%;
            height: 270px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__title {
        @include adaptiv-value('font-size', 64, 30, 1);
        line-height: normal;
        color: #0F0F0F;
        font-weight: 600;
    }

    &__text {
        margin: 24px 0 40px 0;
    }

    &__button {
        margin: auto 0 0 0;
    }

    &__link {
        padding: 8px 16px;
        margin: auto 0 0 0;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        column-gap: 10px;
        font-weight: 600;
        background-color: #315149;
        color: #fff;
        font-size: 16px;
        line-height: normal;
        font-family: "Urbanist", sans-serif;
        transition: all 0.3s ease 0s;

        svg {
            path {
                stroke: #ffffff;
                transition: all 0.3s ease 0s;
            }
        }

        &:hover {
            background-color: #0f0f0f;
        }
    }
}
