@import "../mixin.scss";

.home-hero {
  position: relative;
  font-family: "Urbanist", sans-serif;
  background-image: url("/images/home/home-img-01.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;

  @media (max-width: 767px) {
    background-position: 75% bottom;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(14, 14, 14, 0.8) 0%, rgba(14, 14, 14, 0.6) 100%);
  }
  height: 100vh;
  &__container {
    height: 100%;
  }

  &__body {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include adaptiv-value("font-size", 80, 32, 1);
    line-height: normal;
    font-weight: 600;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 50px;

    @media (max-width: 767px) {
      padding-top: 60px;
    }
  }

  &__slider {
    margin-top: auto;
    @include adaptiv-value("padding-top", 80, 40, 1);
    @include adaptiv-value("padding-bottom", 80, 40, 1);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100vw;
      height: 1px;
      border-top: 1px solid #6d6d6d4d;
    }
  }
}

.home-hero-slider {
  font-family: "Urbanist", sans-serif;
  display: grid;
  grid-template-columns: minmax(auto, 20%) minmax(auto, 60%) minmax(auto, 20%);
  align-items: center;
  gap: 40px;
  position: relative;
  z-index: 30;
  overflow: hidden;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .swiper {
    width: 100%;
  }

  &__item {
  }

  &__wrapper {
    color: #fff;
    @include adaptiv-value("font-size", 24, 16, 1);
    line-height: normal;
  }

  &__count {
    font-size: 24px;
    line-height: normal;

    .current-slide {
      color: #fff;
    }

    .separator {
      color: #6d6d6d4d;
    }

    .all-slides {
      color: #6d6d6d4d;
    }
  }

  &__text {
    max-width: 85%;

    @media (max-width: 767px) {
      max-width: 100%;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 8px;
    justify-content: flex-end;
  }

  &__prev {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #6d6d6d4d;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: #35544c;
    }
  }

  &__next {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #6d6d6d4d;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: #35544c;
    }
  }
}

.home-value {
  @include adaptiv-value("padding-top", 120, 104, 1);
  font-family: "Urbanist", sans-serif;
  overflow: hidden;
  &__container {
  }

  &__body {
  }

  &__title {
    @include adaptiv-value("font-size", 64, 40, 1);
    line-height: normal;
    font-weight: 600;
  }

  &__link {
    padding: 10px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    background-color: #315149;
    color: #fff;
    font-size: 16px;
    line-height: normal;
    font-family: "Urbanist", sans-serif;

    transition: all 0.3s ease 0s;

    &:hover {
      background-color: #0f0f0f;
    }
  }

  &__row-01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__row-02 {
    position: relative;
    padding: 56px 0 0 0;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 0);
      width: 100vw;
      height: 1px;
      border-bottom: 1px solid #6d6d6d4d;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 24px;
    padding: 56px 0px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      width: 100vw;
      height: 1px;
      border-top: 1px solid #6d6d6d4d;
    }

    @media (max-width: 992px) {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }

    .label {
      font-size: 36px;
      line-height: normal;
      font-weight: 600;
      color: #0f0f0f;
    }

    .sublabel {
      color: #315149;
      font-size: 24px;
      line-height: normal;
    }

    .text {
      font-size: 16px;
      line-height: normal;
      color: #0f0f0f;
    }
  }
}

.home-why {
  @include adaptiv-value("padding-top", 120, 104, 1);
  @include adaptiv-value("padding-bottom", 120, 104, 1);
  font-family: "Urbanist", sans-serif;
  overflow: hidden;
  &__container {
  }

  &__body {
  }

  &__title {
    @include adaptiv-value("font-size", 64, 40, 1);
    line-height: normal;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__content {
  }

  &__slider {
    margin: 56px 0 0 0;
  }

  &__link {
    padding: 10px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    background-color: #315149;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: normal;
    font-family: "Urbanist", sans-serif;

    transition: all 0.3s ease 0s;

    &:hover {
      background-color: #0f0f0f;
    }
  }
}

.home-why-slider {
  font-family: "Urbanist", sans-serif;
  overflow: hidden;
  .swiper {
    .swiper-wrapper {
      height: 320px;
    }
  }

  &__item {
    height: 100%;
  }

  &__wrapper {
    padding: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    font-size: 24px;
    line-height: normal;
    font-weight: 600;
    max-width: 80%;

    @media (max-width: 767px) {
      max-width: 100%;
    }
  }

  &__text {
    margin: 16px 0 40px 0;
  }

  &__number {
    font-weight: 600;
    color: #315149;
    font-size: 24px;
    margin: auto 0 0 0;
  }

  &__bottom {
    margin: 37px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__next {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #c9c9c9;
    transition: all 0.3s ease 0s;
    svg {
      path {
        stroke: #6d6d6d;
        transition: all 0.3s ease 0s;
      }
    }

    &:hover {
      border-color: #435a54;
      background-color: #315149;

      svg {
        path {
          stroke: #fff;
        }
      }
    }
  }

  &__prev {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #c9c9c9;
    transition: all 0.3s ease 0s;
    svg {
      path {
        stroke: #6d6d6d;
        transition: all 0.3s ease 0s;
      }
    }

    &:hover {
      border-color: #435a54;
      background-color: #315149;

      svg {
        path {
          stroke: #fff;
        }
      }
    }
  }
}

.home-faq {
  @include adaptiv-value("padding-top", 120, 104, 1);
  font-family: "Urbanist", sans-serif;
  overflow: hidden;
  &__container {
  }

  &__body {
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    @include adaptiv-value("font-size", 64, 40, 1);
    line-height: normal;
    font-weight: 600;
    text-transform: uppercase;

    @media (max-width: 767px) {
      max-width: 85%;
    }
  }

  &__link {
    padding: 10px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    font-weight: 600;
    background-color: #315149;
    color: #fff;
    font-size: 16px;
    line-height: normal;
    font-family: "Urbanist", sans-serif;

    transition: all 0.3s ease 0s;

    &:hover {
      background-color: #0f0f0f;
    }
  }

  &__slider {
    margin: 56px 0 0 0;
  }
}

.home-faq-slider {
  font-family: "Urbanist", sans-serif;
  overflow: hidden;
  &__item {
  }

  &__wrapper {
    display: flex;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__question {
    width: 50%;
    background-color: #315149;
    padding: 80px;
    @media (max-width: 767px) {
      width: 100%;
      padding: 24px;
    }
  }

  &__answer {
    width: 50%;
    background-color: #fff;
    padding: 80px;
    @media (max-width: 767px) {
      width: 100%;
      padding: 40px 24px;
    }
  }

  &__question {
    @include adaptiv-value("font-size", 24, 16, 1);
    line-height: normal;
    color: #fff;
    font-weight: 600;
  }

  &__label {
    font-size: 24px;
    font-weight: 600;
    color: #315149;
    margin: 0 0 16px 0;
  }

  &__text {
    font-size: 16px;
    line-height: normal;
    color: #0f0f0f;
    font-weight: 600;
  }

  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 0 0 0 80px;
    position: relative;
    top: -120px;
    z-index: 30;

    @media (max-width: 767px) {
      top: 0;
      margin: 48px 0 0 0;
    }
  }

  &__prev {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #6d6d6d4d;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;

    @media(min-width: 768px) { 
      svg { 
        path { 
          transition: all 0.3s ease 0s;
        }
      }
      &:hover { 
        background-color: #fff;
        svg { 
          path { 
            stroke: #000000;
          }
        }
      }
    }

    @media (max-width: 767px) {
      svg {
        path {
          stroke: #0f0f0f;
          transition: all 0.3s ease 0s;
        }
      }

      &:hover {
        background-color: #35544c;

        svg {
          path {
            stroke: #fff;
          }
        }
      }
    }
  }

  &__next {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #6d6d6d4d;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;

    @media(min-width: 768px) { 
      svg { 
        path { 
          transition: all 0.3s ease 0s;
        }
      }
      &:hover { 
        background-color: #fff;
        svg { 
          path { 
            stroke: #000000;
          }
        }
      }
    }

    @media (max-width: 767px) {
      svg {
        path {
          stroke: #0f0f0f;
          transition: all 0.3s ease 0s;
        }
      }

      &:hover {
        background-color: #35544c;

        svg {
          path {
            stroke: #fff;
          }
        }
      }
    }
  }
}

.home-what {
  font-family: "Urbanist", sans-serif;
  overflow: hidden;

  &__container {
  }

  &__body {
  }

  &__title {
    @include adaptiv-value("font-size", 64, 40, 1);
    line-height: normal;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }

  &__content {
    display: flex;
    align-items: stretch;
    margin: 56px 0 0 0;
    min-height: 1076px;

    @media (max-width: 1649px) {
      min-height: 1180px;
    }
    @media (max-width: 1200px) {
      min-height: auto;
      flex-direction: column;
    }
  }

  &__col-01 {
    width: 50%;
    background-image: url("/images/home/home-img-02.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media (max-width: 1200px) {
      width: 100%;
    }

    &:hover {
      .home-what__back {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__col-02 {
    width: 50%;
    background-image: url("/images/home/home-img-03.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media (max-width: 1200px) {
      width: 100%;
    }

    &:hover {
      .home-what__back {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 100%;
  }

  &__front {
    width: 100%;
    @media (max-width: 1200px) {
      display: none;
    }
  }

  &__back {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;

    @media (max-width: 1200px) {
      position: static;
      opacity: 1;
      visibility: visible;
    }
  }

  &__info {
    padding: 64px 40px;
    width: 100%;
    border-top: 1px solid #6d6d6d4d;
  }

  &__top {
    height: 426px;
    position: relative;
  }

  &__bottom {
    background-color: #0f0f0fcc;
    backdrop-filter: blur(25px);
    height: calc(100% - 426px);
  }

  &__image-01 {
    background-image: url("/images/home/home-img-04.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(14, 14, 14, 0.5) 0%, rgba(14, 14, 14, 0.01) 30%);
    }
  }

  &__image-02 {
    background-image: url("/images/home/home-img-05.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(14, 14, 14, 0.5) 0%, rgba(14, 14, 14, 0.01) 30%);
    }

    @media (max-width: 767px) {
      background-position: 60% center;
    }
  }

  &__row-01 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 54px 92px 54px 108px;
    border-top: 1px solid #6d6d6d4d;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 24px;

    &._right {
      padding: 54px 108px 54px 40px;
      @media (max-width: 1439px) {
        padding: 24px;
      }
    }

    @media (max-width: 1439px) {
      padding: 24px;
    }

    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }

    .title {
      font-size: 36px;
      line-height: normal;
      color: #fff;
      font-weight: 600;
    }

    .text {
      font-size: 16px;
      line-height: normal;
      color: #fff;
    }
  }

  &__label {
    @include adaptiv-value("font-size", 64, 40, 1);
    line-height: normal;
    font-weight: 600;
    color: #fff;
  }

  &__icon {
    margin: 40px 0 0 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    svg {
      path {
        stroke: #0f0f0f;
        transition: all 0.3s ease 0s;
      }
    }

    &:hover {
      background-color: #35544c;
      svg {
        path {
          stroke: #fff;
        }
      }
    }
  }

  &__items {
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 24px 40px 24px 108px;
    border-top: 1px solid #6d6d6d4d;

    &._right {
      padding: 24px 100px 24px 40px;

      @media (max-width: 1439px) {
        padding: 24px;
      }

      &:last-child {
        padding: 40px 108px 40px 40px;

        @media (max-width: 1439px) {
          padding: 24px;
        }
      }
    }

    @media (max-width: 1439px) {
      padding: 24px;
    }

    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
    }

    .title {
      font-size: 24px;
      line-height: normal;
      color: #fff;
      font-weight: 600;
    }

    .text {
      font-size: 16px;
      line-height: normal;
      color: #fff;
    }

    &:last-child {
      padding: 40px 40px 40px 108px;

      @media (max-width: 1439px) {
        padding: 24px;
      }
    }
  }

  &__link {
    padding: 10px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    column-gap: 10px;
    font-weight: 600;
    background-color: #fff;
    color: #0f0f0f;
    font-size: 16px;
    line-height: normal;
    font-family: "Urbanist", sans-serif;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: #0f0f0f;
    }

    svg {
      path {
        stroke: #0f0f0f;
        transition: all 0.3s ease 0s;
      }
    }

    &:hover {
      background-color: #315149;
      color: #fff;
      svg {
        path {
          stroke: #fff;
        }
      }
    }
  }
}

.home-market {
  @include adaptiv-value("padding-top", 120, 104, 1);
  @include adaptiv-value("margin-bottom", 200, 200, 1);
  font-family: "Urbanist", sans-serif;
  overflow: hidden;
  &__container {
  }

  &__body {
  }

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 40px;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    @include adaptiv-value("font-size", 64, 40, 1);
    line-height: normal;
    font-weight: 600;
  }

  &__link {
    padding: 10px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    column-gap: 10px;
    font-weight: 600;
    background-color: #35544c;
    color: #ffffff;
    font-size: 16px;
    line-height: normal;
    font-family: "Urbanist", sans-serif;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: #0f0f0f;
    }

    svg {
      path {
        stroke: #fff;
        transition: all 0.3s ease 0s;
      }
    }

    &:hover {
      background-color: #315149;
      color: #fff;
      svg {
        path {
          stroke: #fff;
        }
      }
    }
  }

  &__content {
    margin: 56px 0 0 0;
  }
}

.home-last {
  font-family: "Urbanist", sans-serif;
  overflow: hidden;
  &__container {
  }

  &__body {
    display: flex;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__col-01 {
    width: 50%;
    background-image: url("/images/home/home-img-06.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @media (max-width: 992px) {
      width: 100%;
    }
  }

  &__col-02 {
    width: 50%;
    background-color: #fff;
    @include adaptiv-value("padding-top", 120, 40, 1);
    padding-right: 24px;
    @include adaptiv-value("padding-bottom", 120, 40, 1);
    @include adaptiv-value("padding-left", 80, 24, 1);
    @media (max-width: 992px) {
      width: 100%;
      padding: 40px 24px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include adaptiv-value("row-gap", 24, 8, 1);
    height: 100%;
    @include adaptiv-value("padding-right", 80, 24, 1);
    @include adaptiv-value("padding-bottom", 120, 40, 1);
    @include adaptiv-value("padding-left", 108, 24, 1);
    padding-top: 24px;

    @media (max-width: 992px) {
      padding: 104px 24px;
    }
  }

  &__title {
    @include adaptiv-value("font-size", 64, 32, 1);
    line-height: normal;
    font-weight: 600;
    color: #fff;
  }

  &__text {
    @include adaptiv-value("font-size", 24, 16, 1);
    line-height: normal;
    color: #fff;
    max-width: 580px;

    @media (max-width: 992px) {
      max-width: 100%;
    }
  }

  &__label {
    @include adaptiv-value("font-size", 36, 24, 1);
    line-height: normal;
    color: #0f0f0f;
    font-weight: 600;
  }

  &__form {
    max-width: 772px;
    margin: 24px 0 0 0;

    @media (max-width: 992px) {
      max-width: 100%;
    }
  }
}
