@import "../mixin.scss";

.home-hero {
  position: relative;
  font-family: "Urbanist", sans-serif;
  background-image: url('/images/home/home-img-01.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media(max-width: 767px) { 
    background-position: 75% bottom;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(14, 14, 14, 0.8) 0%, rgba(14, 14, 14, 0.6) 100%);
  }
  height: 100vh;
  &__container {
    height: 100%;
  }

  &__body {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include adaptiv-value("font-size", 80, 32, 1);
    line-height: normal;
    font-weight: 600;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 50px;

    @media(max-width: 767px) { 
      padding-top: 60px;
    }
  }

  &__slider {
    margin-top: auto;
    @include adaptiv-value("padding-top", 80, 40, 1);
    @include adaptiv-value("padding-bottom", 80, 40, 1);
    position: relative;

    &::before { 
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100vw;
      height: 1px;
      border-top: 1px solid #6d6d6d4d;
    }
  }
}

.home-hero-slider {
  display: grid;
  grid-template-columns: minmax(auto, 20%) minmax(auto, 60%) minmax(auto, 20%);
  align-items: center;
  gap: 40px;
  position: relative;
  z-index: 30;

  @media(max-width: 767px) { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .swiper {
    width: 100%;
  }

  &__item {
  }

  &__wrapper {
    color: #fff;
    @include adaptiv-value('font-size', 24, 16, 1);
    line-height: normal;
  }

  &__count {
    font-size: 24px;
    line-height: normal;

    .current-slide {
      color: #fff;
    }

    .separator {
      color: #6D6D6D4D;
    }

    .all-slides {
      color: #6D6D6D4D;
    }
  }

  &__text { 
    max-width: 85%;

    @media(max-width: 767px) { 
      max-width: 100%;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 8px;
    justify-content: flex-end ;
  }

  &__prev {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #6D6D6D4D;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;

    &:hover { 
      background-color: #35544c;
    }
  }

  &__next {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #6D6D6D4D;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;

    &:hover { 
      background-color: #35544c;
    }
  }
}

.home-value { 
  @include adaptiv-value('padding-top', 120, 104, 1);
  font-family: "Urbanist", sans-serif;
  &__container {

  }

  &__body { 

  }

  &__title {
    @include adaptiv-value('font-size', 64, 40, 1);
    line-height: normal;
    font-weight: 600;
  }

  &__link { 
    padding: 10px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    background-color: #315149;
    color: #fff;
    font-size: 16px;
    line-height: normal;
    font-family: "Urbanist", sans-serif;
    
    transition: all 0.3s ease 0s;

    &:hover { 
      background-color: #0F0F0F;
    }
  }

  &__row-01 { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    @media(max-width: 767px) { 
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__row-02 { 
    position: relative;
    padding: 56px 0 0 0;
    &::before { 
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 0);
      width: 100vw;
      height: 1px;
      border-bottom: 1px solid #6d6d6d4d;
    }
  }

  &__item { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 24px;
    padding: 56px 0px;
    position: relative;
    &::before { 
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      width: 100vw;
      height: 1px;
      border-top: 1px solid #6d6d6d4d;
    }

    @media(max-width: 992px) { 
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }

    .label { 
      font-size: 36px;
      line-height: normal;
      font-weight: 600;
      color: #0F0F0F;
    }

    .sublabel { 
      color: #315149;
      font-size: 24px;
      line-height: normal;
    }

    .text { 
      font-size: 16px;
      line-height: normal;
      color: #0F0F0F
    }

  }

}